.basket {
    &__empty {
        @include column-center;
        height: 80vh;
        font-size: 30px;
        .fas {
            display: block;
            font-size: 150px;
            margin-top: 40%;
        }
    }
    &__element {
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: 2fr 1fr 1fr 0.5fr;
        grid-template-rows: repeat(4, 0.3fr);
        margin: 10px;
        padding: 5px;
        border-radius: 10px;
        border-bottom: 1px solid grey;
        box-sizing: border-box;
        background-color: $clearWhite;
        @media all and (min-width: 768px) {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 0.3fr);
        }
        &__productName {
            display: block;
            width: 100%;
            grid-column: 1;
            grid-row: 1;
            margin: 0;
            text-align: center;
            font-size: 1.5rem;
            border-bottom: 1px solid black;
            @media all and (min-width: 768px) {
                grid-column: 1;
                grid-row: 2;
                align-self: flex-start;
                border-bottom: none;
            }
        }
        &__quantityLabel {
            grid-column: 3;
            grid-row: 3;
            font-family: "Roboto-Black";
            font-style: italic;
            @media all and (min-width: 768px) {
                grid-column: 2;
                grid-row: 1;
            }
        }
        &__quantityInput {
            width: 2rem;
            grid-column: 3;
            grid-row: 4;
            @media all and (min-width: 768px) {
                grid-column: 2;
                grid-row: 2;
            }
        }
        &__lensLabel {
            grid-column: 2;
            grid-row: 3;
            font-family: "Roboto-Black";
            font-style: italic;
            @media all and (min-width: 768px) {
                grid-column: 3;
                grid-row: 1;
            }
        }
        &__productLens {
            grid-column: 2;
            grid-row: 4;
            padding-top: 10px; 
            text-align: center;
            @media all and (min-width: 768px) {
                grid-column: 3;
                grid-row: 3;
                align-self: flex-start;
            }
        }
        &__priceLabel {
            grid-column: 1;
            grid-row: 3;
            font-family: "Roboto-Black";
            font-style: italic;
            @media all and (min-width: 768px) {
                grid-column: 4;
                grid-row: 1;
            }
        }
        &__productPrice {
            grid-column: 1;
            grid-row: 4;
            padding-top: 10px;
            align-self: flex-start;
            font-family: "Roboto-Black";
            font-style: italic;
            font-size: 1.5rem;
            color: $red;
            @media all and (min-width: 768px) {
                grid-column: 4;
                grid-row: 3;
                padding-top: 0;
            }
        }
        &__productDelete {
            display: none;
            @media all and (min-width: 768px) {
                display: block;
                grid-column: 2;
                grid-row: 3;
            }
            &--icon {
                display: block;
                font-size: 39px;
                grid-column: 4;
                grid-row: 2 / 5;
                margin-left: auto;
                @media all and (min-width: 768px) {
                    display: none;
                }
            } 
        }
    }
    &__validate {
        display: block;
    }
}