.header {
	height: 110px;
	display: flex;
	flex-flow: column-reverse;
	background-color: $primaryColor;
	box-shadow: 0px 5px 20px grey;
	@media all and (min-width: 768px) {
		height: 129px;
	}
	&__title {
		@include font-color($backgrounddark);
		grid-column: 1 / 4;
		grid-row: 2;
		font-size: 1rem;
		text-align: center;
		margin: 0;
		padding-bottom: 5px;
		padding-top: 5px;
		background-color: $secondaryColor;
	}
	&__nav {
		display: grid;
		align-items: center;
		@media all and (min-width: 768px) {
			grid-template-columns: 6fr 3fr 1fr;
		}
		i {
			font-size: 2rem;
		}
		&__btn {
			@include column-center;
			grid-column: 1;
			grid-row: 1;
			font-size: 14px;
			@media all and (min-width: 768px) {
				display: none;
			}
		}
		&__menu {
			padding: 20px 20px 10px 0px;
			position: absolute;
			top: -37px;
			left: -20px;
			z-index: 1;
			font-size: 1rem;
			background-color: $secondaryColor;
			opacity: 90%;
			box-shadow: -5px 5px 10px grey;
			border-bottom-right-radius: 10px;
			transition: all 200ms ease-out;
			transform: translateX(-300px);
			@media all and (min-width: 768px) {
				grid-column: 2;
				grid-row: 1;
				margin-left: auto;
				padding: 0px;
				position: static;
				transform: inherit;
				box-shadow: none;
				background-color: transparent;
			}
			&:target {
				transition: all 200ms ease-out;
				transform: translateX(0px);
			}
			&__list {
				list-style: none;
				@media all and (min-width: 768px) {
					display: flex;
				}
				&__btnMenuClose {
					@include font-color($backgrounddark);
					display: flex;
					flex-direction: row-reverse;
					padding: 10px 0px 20px 6px;
					font-size: 1.5rem;
					@media all and (min-width: 768px) {
						display: none;
					}
				}
				&__pagesLink {
					@include font-color($backgrounddark);
					display: flex;
					justify-content: flex-start;
					align-items: baseline;
					padding-bottom: 10px;
					@media all and (min-width: 768px) {
						@include font-color($backgroundlight);
						@include column-center;
						margin-left: 30px;
						border-bottom: 3px solid transparent;
						transition: all 200ms;
						&:hover {
							border-bottom: 3px solid $secondaryColor;
						}
						&:hover i {
							color: $secondaryColor;
						}
					}
					i {
						@include font-color($backgrounddark);
						padding-right: 10px;
						padding-bottom: 10px;
						font-size: 1.2rem;
						@media all and (min-width: 768px) {
							@include font-color($backgroundlight);
							padding-left: 10px;
							padding-bottom: 0;
							font-size: 2rem;
						}
						&.fa-clipboard-list {
							padding-left: 3px;
							padding-right: 13px;
							@media all and (min-width:768px) {
								padding-left: 13px;
							}
						}
					}
				}
			}
		}
		&__logo {
			display: flex;
			justify-content: center;
			grid-column: 2;
			grid-row: 1;
			@media all and (min-width: 768px) {
				grid-column: 1;
				margin-right: auto;
				margin-left: 20px;
			}
		}
		&__basket {
			margin-left: auto;
			margin-right: auto;
			grid-column: 3;
			grid-row: 1;
			width: 50px;
			height: 50px;
			font-size: 14px;
			@media all and (min-width: 768px) {
				grid-column: 3;
				margin-left: 30px;
				margin-right: 20px;
				padding-bottom: 10px;
				font-size: 1rem;
				border-bottom: 3px solid transparent;
				transition: all 200ms;
				&:hover {
					border-bottom: 3px solid $secondaryColor;
				}
				&:hover i {
					color: $secondaryColor;
				}
			}
			&__icon {
				@include column-center;
			}
			&--chip {
				@include font-color($red);
				min-width: 17px;
				width: fit-content;
				height: fit-content;
				border-radius: 25px;
				padding-left: 3px;
				padding-right: 3px;
				padding-top: 2px;
				background-color: $red;
				position: relative;
				right: -30px;
				top: -50px;
				text-align: center;
				line-height: 20px;
			}
		}
	}
}
