.header {
	height: 110px;
	display: flex;
	flex-flow: column-reverse;
	background-color: $primaryColor;
	box-shadow: 0px 5px 20px grey;
	@media all and (min-width: 768px) {
		height: 129px;
	}
	&__title {
		@include font-color($backgrounddark);
		grid-column: 1 / 4;
		grid-row: 2;
		font-size: 1rem;
		text-align: center;
		margin: 0;
		padding-bottom: 5px;
		padding-top: 5px;
		background-color: $secondaryColor;
	}
	&__nav {
		display: grid;
		align-items: center;
		@media all and (min-width: 768px) {
			grid-template-columns: 6fr 3fr 1fr;
		}
		i {
			font-size: 2rem;
		}
		&__btn {
			@include column-center;
			grid-column: 1;
			grid-row: 1;
			font-size: 14px;
			@media all and (min-width: 768px) {
				display: none;
			}
		}
		&__logo {
			display: flex;
			justify-content: center;
			grid-column: 2;
			grid-row: 1;
			@media all and (min-width: 768px) {
				grid-column: 1;
				margin-right: auto;
				margin-left: 20px;
			}
		}
		&__basket {
			margin-left: auto;
			margin-right: auto;
			grid-column: 3;
			grid-row: 1;
			width: 50px;
			height: 50px;
			font-size: 14px;
			@media all and (min-width: 768px) {
				grid-column: 3;
				margin-left: 30px;
				margin-right: 20px;
				padding-bottom: 10px;
				font-size: 1rem;
				border-bottom: 3px solid transparent;
				transition: all 200ms;
				&:hover {
					border-bottom: 3px solid $secondaryColor;
				}
				&:hover i {
					color: $secondaryColor;
				}
			}
			&__link {
				display: block;
				position: absolute;
				width: 50px;
				height: 50px;
				z-index: 2;
			}
			&__icon {
				@include column-center;
				z-index: 0;
			}
			&--chip {
				@include font-color($red);
				min-width: 17px;
				width: fit-content;
				height: fit-content;
				border-radius: 25px;
				padding-left: 3px;
				padding-right: 3px;
				padding-top: 2px;
				background-color: $red;
				position: relative;
				right: -30px;
				top: -50px;
				text-align: center;
				line-height: 20px;
				z-index: 1;
			}
		}
	}
}
